# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2

[*.xml]
indent_style = tab

[*.html]
indent_style = tab

# 4 space indentation
[*.css]
indent_style = space
indent_size = 4
